<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{web}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tortor ex, viverra at ligula id, tristique suscipit risus. Quisque iaculis arcu ut ipsum placerat, non molestie lorem rhoncus. Vivamus diam quam, aliquam a ultrices at, viverra eu eros. Praesent nec dolor in eros pulvinar ultricies quis ac est. Donec ut neque nec eros consequat tristique eget quis lacus. Etiam eu convallis erat, quis tempor dolor. Pellentesque ornare libero id erat tincidunt pretium. Proin pretium odio et odio efficitur, ut ornare est laoreet. 
    </p>

</article>