
<h2>Crear nuevo usuario</h2>
<form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">
    <p>
        <label for="name">Nombre</label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="new_User.name" required/>
    <span *ngIf="name.touched && !name.valid">El nombre no es Valido</span>
    </p>

    <p>
        <label for="job">Trabajo</label>
        <input type="text" name="job" #job="ngModel" [(ngModel)]="new_User.job" required/>
        <span *ngIf="job.touched && !job.valid">El Trabajo no es Valido</span>
    </p>

    <input type="submit" value="Guardar Usuario"[disabled]="!newUser.form.valid">

</form>

    <div *ngIf="usuario_guardado">
        <h2>El usuario se ha guardado correctamente</h2>
        <h3>{{usuario_guardado.name}}</h3>
        <h4>{{usuario_guardado.job}}</h4>
    </div>

<hr>

{{fecha | date: 'dd/MM/yy'}}<br/>
{{fecha | date: 'fullDate' | uppercase}}<br/>
{{'HOLA MUNDO USANDO PIPES'|lowercase}}<br/>
{{4|calculadora:2}}

<hr>
<input type="text"[(ngModel)]="userId" (keyup.enter)="cargaUsuario()"/>

<div *ngIf="!userId">
    Cargando...
</div>
<div *ngIf="userId">
    <img src="{{user.avatar}}" width="200px"/>
    <h2>{{userId.first_name+ ' '+ userId.last_name}}</h2>
</div>
